.HomeLink {
    max-height: 50px;
}

.bg-mainColor {
    background-color: rgb(47, 78, 79);
    /*background-color: rgba(81, 159, 150, 1);*/
}

body {
    min-width: 350px;
    max-width: 2000px;
    min-height: 100vh;
}

.carousel-lg {
    width: 90%;
    margin: auto;
    overflow: hidden;
    animation: animation 32s ease-in-out infinite;
    background-attachment: fixed;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-size: cover;
    background-position: center;
    height: 300px;
}

.carousel-text-lg {
    margin: auto;
    margin-top: 30px;
    position: relative;
    width: 55%;
    border-radius: 15px;
    padding: 20px;
    background-color: rgba(255, 255, 255, .7);
    color: black;
}

.carousel-md {
    padding-top: 10%;
    width: 100%;
    margin: auto;
    overflow: hidden;
    animation: animation 32s ease-in-out infinite;
    background-attachment: relative;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 300px;
}

.carousel-text-md {
    margin: -30px auto 0 auto;
    position: relative;
    width: 70%;
    border-radius: 15px;
    padding: 20px;
    background-color: rgba(255, 255, 255, .4);
    color: black;
}

.carousel-md h5 {
    font-size: large;
}

.carousel-md h6,
.carousel-md a {
    font-size: small;
    text-decoration: none;
}

@keyframes animation {
    0% {
        background-image: url(../../public/assets/Back_Ground6.jpg);
    }
    20% {
        background-image: url(../../public/assets/Back_Ground7.jpg);
    }
    40% {
        background-image: url(../../public/assets/Back_Ground9.jpg);
    }
    60% {
        background-image: url(../../public/assets/Back_Ground9.jpg);
    }
    80% {
        background-image: url(../../public/assets/Back_Ground10.jpg);
    }
    100% {
        background-image: url(../../public/assets/Back_Ground6.jpg);
    }
}

@media (max-width:600px) {
    .carousel-md {
        height: 165px;
    }
}